.choice-container {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    font-size: 20px;
    border: 1px solid #f1559e;
    background-color: #fff;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgba(255, 0, 149, 0.5);
    transform: translateY(-0.5px);
    transition: transform 150ms;
}
.choice-prefix {
    padding: 3px 8px;
    background-color: #f1559e;
    color: #fff;
}

.choice-text {
    padding: 2px;
}